@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
}
html, body, #root, #defaultLayout, #guestLayout {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;
}

input {
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 2px solid #e6e6e6;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s;
}

input:focus {
    border-color: #5b08a7;
}
ul li {

    list-style: none;
}
.btn,
.btn-add,
.btn-edit,
.btn-delete {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #5b08a7;
    border: 0;
    text-decoration: none;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.btn-block {
    width: 100%;
}

.btn-add,
.btn-edit,
.btn-delete{
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    border-radius: 4px;
}
.btn-add {
    background-color: #00a762;
}
.btn-delete {
    background-color: #b72424;
}

.btn-logout {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    color: #212121;
    transition: all 0.3s;
    border-radius: 6px;
}
.btn-logout:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn:hover,
.btn:active,
.btn:focus {
    background: #5b08a7;
}

.text-center {
    text-align: center;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table > thead > tr > th {
    text-align: left;
    padding: 0.5rem 0.5rem;
    background-color: #efefef;
}

table > tbody > tr > td {
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid #efefef;
    white-space: nowrap;
}

.card {
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1.25rem 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.alert {
    padding: 1rem;
    /*background-color: #ff4040;*/
    color: #f62d2d;
    border-radius: 0.5rem;
    /*margin-bottom: 0.2rem;*/
}

.notification {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 100;
    padding: 1rem 1.5rem;
    background-color: #00a762;
    color: white;
    border-radius: 0.5rem;
}

/* Login/Signup forms*/

.login-signup-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    /*background-image: url("./assets/bg.png");*/
}

.signup_form_container {
    width: 500px;
    position: relative;

    padding: 34px;

}
.signup_form {
    max-width: 340px;
    margin: 0 auto;
}
.login_form_container {
    position: relative;
    padding: 34px;
}
.login_form_container::after {
    content: '';
    position: absolute;
    top:0;
    right: 50%;
    width: 2px;
    height: 100%;
    background-color: white;
}
.login-signup-form .title {
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: center;
}

.login-signup-form .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 16px;
    text-align: center;
}

.login-signup-form .form .message a {
    color: #5b08a7;
    text-decoration: none;
}
.modal-title {
    color:white;
    text-align: center;
}
.login-signup-form .btn:hover {
    color: #083178;
}


/* Login/Signup form */


#defaultLayout {
    display: flex;
}

#defaultLayout aside {
    width: 240px;
    background-color: #5b08a7;
    padding: 1rem
}

#defaultLayout aside > a {
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
}

#defaultLayout aside > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#defaultLayout .content {
    flex: 1;
}

#defaultLayout header {
    height: 80px;
    padding: 2rem 3rem;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#defaultLayout main {
    padding: 2rem;
}

.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/*----------------Main page---------------*/
.main_container{
    /*position: absolute;*/
    /*right: 0;*/
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    /*z-index: 2;*/
    transition: .5s;
}
.title {
    position: relative;
    color: white;
    font-style: italic;
    z-index: 10;

}
.toggle{
    position: relative;
    /*width: 60px;*/
    /*height: 60px;*/
    /*background-repeat: no-repeat;*/
    /*background-size: 30px;*/
    /*background-position: center;*/
    cursor: pointer;
}
.toggle.active{
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
}
.main_container.active{
    right: 300px;
}
video{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.overlay{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background: #03a9f4;
    mix-blend-mode: overlay;
}

.menu{
    /*position: absolute;*/
    /*top: 0;right: 0;*/
    min-width: 300px;
    height: 100vh;
    display: flex;
    /*justify-content: center;*/
    padding-top: 10%;
    padding-left: 150px;
    /*align-items: center;*/
    background-color: #000;
    /*background-image: url("./assets/bg.png");*/
    color: whitesmoke;
    z-index: 10;
}
.menu ul{
    position: relative;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    font-size: 24px;
    color: #111;
}
.menu ul li button {
    font-size: 24px;
}
.menu ul li a:hover{
    color: #03a9f4;
}
.modal-content {
    background-color: #202120 !important;
    color: white !important;
}

.form-control::placeholder {
    color: #cbc7c7 !important;

}

.map-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #05123d;
}
.exit_icon {
    position: absolute;
    top: 100px;
    right: 50px;
}
.map-screen {
    position: relative;
    width: 520px;
    height: 302px;
    background-color: #000;
    background-image: url("./assets/map.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: auto;


}
.info_box_image {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 300px;
    height: 145px;
    background-image: url("./assets/left-box-removebg.png");
}

.info_box_text {
    position: absolute;
    left: 10px;
    top: 20px;
    font-size: 15px;
}
.sputnik_icon {
    position: absolute;
    bottom: 30%;
    left: 4%;
    width: 25px;
}
.map_icon {
    position: absolute;
    bottom: 30%;
    left: 7%;
    width: 25px;
}
@media screen and (min-width:750px){
    .map-screen {
        width: 750px;
        height: 435px;
    }
}
@media screen and (min-width:900px){
    .map-screen {
        width: 900px;
        height: 523px;
    }
}
@media screen and (min-width:1200px){
    .map-screen {
        width: 1200px;
        height: 697px;
    }
}
@media screen and (min-width:1300px){
    .map-screen {
        width: 1300px;
        height: 754px;
    }
    .info_box_image {
        left: 5px;
        bottom: 30px;
        width: 375px;
        height: 182px;
    }
    .info_box_text {
        left: 20px;
        top: 40px;
        font-size: 18px;
    }
    .sputnik_icon {

        width: 35px;
    }
    .map_icon {

        width: 42px;
    }
}
@media screen and (min-width:1860px){
    .map-screen {
        width: 1860px;
        height: 1080px;
    }
    .info_box_image {
        left: 8px;
        bottom: 60px;
        width: 535px;
        height: 260px;
    }
    .info_box_text {
        left: 30px;
        top: 50px;
        font-size: 20px;
    }
    .info_box_image li {
        margin-bottom: 10px;
    }
    .sputnik_icon {

        bottom: 30%;
        left: 4%;
        width: 45px;
    }
    .map_icon {

        bottom: 30%;
        left: 7%;
        width: 52px;
    }
}
/*Pulse circle*/

.mgo-widget-call_pulse {
    height: 18px;
    width: 18px;
    background-color: #e0634f;
    border-radius: 100%;
    position: absolute;
    /*left: 20%;*/
    /*top: 20%;*/
    margin: auto 0;
    opacity: .75;
    -webkit-animation: shake 2s infinite ease-in-out;
    animation: shake 2s infinite ease-in-out;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}
.mgo-widget-call_pulse:after,
.mgo-widget-call_pulse:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    top: 0;
    background-color: #e0634f;
    border-radius: 100%;
    -webkit-animation: pulse 2s infinite ease-in-out;
    animation: pulse 2s infinite ease-in-out;
}
.mgo-widget-call_pulse:before {
    margin: auto 0 auto -32.5px;
    height: 65px;
    width: 65px;
    opacity: .5;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}
.mgo-widget-call_pulse:after {
    margin: auto 0 auto -46px;
    height: 92px;
    width: 92px;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    opacity: .25;
}

@-webkit-keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-2px);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-2px);
    }
}

@-webkit-keyframes pulse {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}


.info_box_user {
    padding-top:30px;
    padding-left: 30px;
}
.info_box_user li {
    margin-bottom: 10px;
}

.exit_link {
    position: absolute;
    left:5px;
    top: 5px;
    font-size: 24px;
    color: transparent;
    text-decoration: none;
}
